<html>
<head>
    <title></title>
</head>
<body>
<form action="/student" name="githubQuery">
    <label for="github">Enter github id</label>
    <input type="text" name="github"/>
    <input type="submit" value="Get Grades">
</form>

<form action="/project" name="projectQuery">
	<label for="project">Enter project title</label>
	<input type="text" name="project" />
	<input type="submit" value="Get Project Info">
</form>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<p style="color: red">
			{{message}}
			</p>

		{% endfor %}
	{% endif %}
{% endwith %}

{% block body %}{% endblock %}

</body>
</html>